@import "tailwindcss";


.background {
    background: url("https://images.unsplash.com/photo-1597818316032-2079baa763b6?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D") no-repeat center ;
    background-size: cover;
}